body{
  background-color:$body-bg;
  font-family: $font-family;
  font-weight: 400;
}
/** Sidebar menu */
aside{

  background-color: #ffffff;
  .side-menu{
    padding-top:20px;
    .menu-label{
      margin-left:1em;
    }
    .fa-user{
      font-size: 60px;
    }
    .menu-list{
      a{
        padding:1em 0.75em;
        transition: all .3s ease;
        &.is-active{
          background-color:#ffffff;
          font-weight: bold;
          border-left:5px solid $orange;
          color:#4a4a4a ;
        }
        &:hover{
          background-color: #ffffff;
          color:#4a4a4a ;
        }

      }
    }
  }
}
/** top nav */
.nav{
  display:none;
  border-bottom: 1px solid #dbdbdb;
}
.container{
  padding: 10px 20px;
}
hr{
  color:#eaebec;
}
/** Todo boxs */
.todo-toggles{
  margin-bottom:0;
}
.main-todo-box{
  margin-top:0 !important;
}
h3{
  .caret{
    padding-top: 5px;
    margin-right: 5px;
  }
}
.task-table{
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

/** typography */
.content{
  .box{
    margin-top: 1em;
  }
}
.title{
  padding-top:1em;
}
.is-orange{
  background-color: $orange;
  color:#ffffff;
  a{
    color:#ffffff;
  }
}
/** icons */
.fa-plus-circle{
  color:$orange;
}
.handle{
  font-weight: bold;
  margin-right: 0.5em;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/** buttons **/
.status{
  .fa{
    padding-top: 0.25em;
    transition: color .3s ease;
    color: #f2f4f6;
      &:hover,  &.is-done{
        color:$brand-success;
      }
      &.is-started{
        color:$brand-warning;
      }
      &.is-over-due{
        color:$brand-danger;
      }
  }
}

.dropdown {
  box-shadow: 0 0 8px #777;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}

.dropdown.is-open {
  display: block;
}

/** notifications  **/
.vue-notification {
  padding: 20px ;
  margin: 0 5px 5px !important;

  font-size: 16px !important;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.warn {
    background: $brand-warning;
    border-left-color:darken($brand-warning, 10%);
  }

  &.error {
    background: $brand-danger;
    border-left-color: darken($brand-danger, 10%);
  }

  &.success {
    background: $brand-success !important;
    border-left-color: darken($brand-success, 10%) !important;
  }
}
