body{
  background-color:$body-bg;
  font-family: $font-family;
  font-weight: 400;
}
/** Sidebar menu */
aside{

  background-color: #ffffff;
  .side-menu{
    padding-top:20px;
    .menu-label{
      margin-left:1em;
    }
    .fa-user{
      font-size: 60px;
    }
    .menu-list{
      a{
        padding:1em 0.75em;
        transition: all .3s ease;
        &.is-active{
          background-color:#ffffff;
          font-weight: bold;
          border-left:5px solid $orange;
          color:#4a4a4a ;
        }
        &:hover{
          background-color: #ffffff;
          color:#4a4a4a ;
        }

      }
    }
  }
}
/** top nav */
.nav{
  display:none;
  border-bottom: 1px solid #dbdbdb;
}
.container{
  padding: 10px 20px;
}
hr{
  color:#eaebec;
}
/** Todo boxs */
.todo-toggles{
  margin-bottom:0;
}
.main-todo-box{
  margin-top:0 !important;
}
h3{
  .caret{
    padding-top: 5px;
    margin-right: 5px;
  }
}
.task-table{
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

/** typography */
.content{
  .box{
    margin-top: 1em;
  }
}
.title{
  padding-top:1em;
}
.is-orange{
  background-color: $orange;
  color:#ffffff;
  a{
    color:#ffffff;
  }
}
.bold{
  font-weight: bold;
}
/** icons */
.fa-plus-circle{
  color:$orange;
}
.handle{
  font-weight: bold;
  margin-right: 0.5em;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/** buttons **/
.status{
  .fa{
    padding-top: 0.25em;
    transition: color .3s ease;
    color: #f2f4f6;
      &:hover,  &.is-done{
        color:$brand-success;
      }
      &.is-started{
        color:$brand-warning;
      }
      &.is-over-due{
        color:$brand-danger;
      }
  }
}

.dropdown {
  box-shadow: 0 0 8px #777;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}

.dropdown.is-open {
  display: block;
}

/** Task **/
.task{
  z-index: 5;
  width: 65%;
  display: block;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  padding: 2em;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  .header{
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #dbdbdb;
    h3{
      font-size: 2.75em;
      .status{
        i{
          padding-top: 0.75em;
        }
      }
    }
  }
  .body{
    p{
      font-size: 1.25em;
    }
    .task-updates{
      textarea{
        width: 100%;
        border-radius: 5px;
        border: 1px solid #dbdbdb;
      }
    }
  }
}
.task-background{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 4;
}

/** notifications  **/
.vue-notification {
  padding: 20px ;
  margin: 0 5px 5px !important;

  font-size: 16px !important;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.warn {
    background: $brand-warning;
    border-left-color:darken($brand-warning, 10%);
  }

  &.error {
    background: $brand-danger;
    border-left-color: darken($brand-danger, 10%);
  }

  &.success {
    background: $brand-success !important;
    border-left-color: darken($brand-success, 10%) !important;
  }
}
