/** Sidebar menu */
aside{
  background-color: #2d2b4a !important;
  color:#FFFFFF;
  .side-menu{

    margin-top: 1em;
    padding:0.75rem;
    button{
      color:#FFFFFF ;
    }

    .menu-label{
      color:#FFFFFF ;
      margin-top: 2em;
    }
    .menu-label, .multi-select{
      padding-left:0.25em;
      .tooltip{
        text-transform: none !important;
      }
    }
    .menu-list{
      a{
        padding:0.8em 0.75em;
        transition: all .3s ease;
        color:#FFFFFF ;
        //font-size:0.85em;
        &.is-active{
          background-color:#42415c;
          font-weight: bold;
          //border-left:3px solid #1e3f60;
          color:#FFFFFF ;
        }
        &:hover{
          font-weight: bold;
          color:#FFFFFF ;
          background-color: #42415c !important;
        }
      }
    }
  }
}
.sidebar-logo{
  background-color: #42415c !important;
  //height:70px;
  .logo{
    padding:1.75em 0.5em;
  }
}
.mobile-side-nav{
  z-index: 5;
  width: 90% !important;
  display: block;
  left: 0;
  bottom: 0;
  top:  0;
  position: absolute;
  @include tablet() {
    width: 50%!important;
  }
}
/** top nav */
.navbar{
  .navbar-burger{
    margin-left:0;
    margin-top:0.5em;
  }
}
.container{
  padding: 10px 20px;
}
hr{
  color:#eaebec;
}
/** Todo boxs */
.todo-toggles{
  margin-bottom:0;
}
.main-todo-box{
  margin-top:0 !important;
}
.task-table{
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
/** page */
.header{
  padding:1rem !important;
  .logo{
    max-width:200px;
  }
}
.box{
  background-color: #ffffff;
  border: none;
  padding:2rem;
  -webkit-box-shadow: 0 0 20px 0 #cfd2d478;
  -moz-box-shadow:    0 0 20px 0 #cfd2d478;
  box-shadow:         0 0 20px 0 #cfd2d478;
  &.place-holder{
    box-shadow: none !important;
    background-color:transparent;
    min-height:150px;
    border: rgba(10, 10, 10, 0.1) solid 1px;
    .fa-circle{
      color:#dbdbdb;
    }
  }
  &.is-empty-inbox{
    box-shadow: none !important;
    background-color: transparent;
    border: rgba(10, 10, 10, 0.1) solid 1px;
  }
}

.has-no-boarder{
  border:none !important;
}
/** icons */
.fa-plus-circle{
  color:$orange;
}
.add-icon{
  padding: 75px 0;
}
.handle{
  font-weight: bold;
  margin-right: 0.5em;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
/** Section **/
.project-section{
  padding-bottom: 1.5rem;
}
.add-project-section-button{
  cursor: pointer;
  .box{
    transition: all .3s ease;
    .fa-plus-circle{
      color:rgba(10, 10, 10, 0.1) ;
      transition: all .3s ease;
    }
    &:hover{
      background-color: #ffffff;
      border: none;
      //padding:2rem;
      -webkit-box-shadow: 0 0 20px 0 #cfd2d478;
      -moz-box-shadow:    0 0 20px 0 #cfd2d478;
      box-shadow:         0 0 20px 0 #cfd2d478;
      .fa-plus-circle{
        color: $orange;
      }
    }
    &:active{
      -webkit-box-shadow: none;
      -moz-box-shadow:    none;
      box-shadow:         none;
    }

  }
}
/** Task **/
.task{
  //position: fixed;
  //width: 60%;
  //background-color: #fff;
  //left: 20%;
  //height: 90%;
  //overflow: hidden;
  //overflow-y: scroll;
  //overflow-x: hidden;
  //top: 5%;
  //z-index: 5;
  //display: block;
  //padding-top: 0;
  //box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  @include tablet() {
    //width: 50%;
  }
  .task-header{
    background-color:whitesmoke;
    border-bottom: 1px solid #dbdbdb;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .status{
      i{
        padding-top: .25em;
        margin-right: 0.5em;
      }
    }
    .fa-times{
      position:absolute;
      left:0;
      top:0;
    }
  }
  .body{
    p.description{
      font-size: 1.25em;
    }
  }
  textarea{
    width: 100%;
    min-height: 0.5em !important;
    margin-right:0.5em;
    &.is-danger{
      border-color: #ff3860;
    }
  }
}
.task-background{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 4;
  min-height: 100vh;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.task-comment{
  margin-bottom: 1em;
  .message{
    width:100%;
  }
}
/** forms **/

.table{
  &.place-holder{
    background: none !important;
  }
}

/** notifications  **/
.notifications{
  border-radius: 5px;
  //padding: 1.25rem;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1) !important;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1) !important;
}
.notification {
 .notification-circle{
   width:64px;
   height:64px;
   &.success{
     background-color: $brand-success;
   }
   &.error{
     background-color: $brand-danger;
   }

 }

}

.lable{
  border: 1px solid #dbdbdb;
  padding:1em;
  margin-top:0.5em;
  &.warn {
    border-left: 5px solid #ff7739;
  }
  &.info {
    border-left: 5px solid $brand-info;
  }
  &.success {
    border-left: 5px solid $brand-success;
  }
}
/** Image Cropper */
.vue-cropper{
  min-height:400px;
}
.circle{
  border-radius: 50%;
}

.avatar{
  width:100px;
  //margin-top:0.5em;
}
.small-avatar{
  width:50px;
}
.x-small-avatar{
  width:40px;
  margin: 0.25em;
}

.message-avatar{
  margin-right: 1em;
}

/** ajax loader */

.main-content {
  position: relative;
  &.columns{
    margin-top:0 !important;
  }
}
.vue-simple-spinner-wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}
.task-is-loading{
  overflow-y: hidden;
  overflow-x: hidden;
  .vue-simple-spinner-wrap{
    min-height: 100% !important;
  }
}
