/** Fonts */
@import url(//fonts.googleapis.com/css?family=Raleway:300,400,600);

/** Bulma */
@import "node_modules/bulma/bulma";

/** Variables */
@import "variables";
@import "forms";
@import "typography";
@import "buttons";
/** welcome page styles */

//.is-landing-page{font-size: 16px;}
html{font-size: 16px;}
.button{
  border-radius: 50px;
  border:none;
}

.has-shadow{
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
}

.is-orange{
  background-color: $orange;
  color:#ffffff;
  a{
    color:#ffffff;
  }
}
.is-gray{
  background-color: $brand-info;
  color:#ffffff;
  a{
    color:#ffffff;
  }
}